*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.menu{
	min-height: 100vh;
	height: auto;
	background-color: #2F4050;
}

#hide_user{
	display: none;
}

#show_user{
	display: block;
}

.manage li{
	cursor: pointer;
}

.child-dropdown{
	display: none;
}

.main-footer {
  background: #ebebeb;
  padding: 15px;
  color: #444;
  border-top: 1px solid gray;
}