
@{
    ViewBag.Title = "Liên hệ với chúng tối";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}

<div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url(/wwwroot/img/bg/2.jpg) no-repeat scroll center center / cover ;">
    <div class="ht__bradcaump__wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="bradcaump__inner text-center">
                        <h2 class="bradcaump-title">Liên hệ với chúng tôi</h2>
                        <nav class="bradcaump-inner">
                            <a class="breadcrumb-item" href="index.html">Trang chủ</a>
                            <span class="brd-separetor">/</span>
                            <span class="breadcrumb-item active">Liên hệ</span>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Bradcaump area -->
<!-- Start Contact Area -->
<section class="htc__contact__area pt--120 bg__white">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                <div class="htc__contact__container">
                    <div class="htc__contact__address">
                        <h2 class="contact__title">Thông tin liên hệ</h2>
                        <div class="contact__address__inner">
                            <!-- Start Single Adress -->
                            <div class="single__contact__address">
                                <div class="contact__icon">
                                    <span class="ti-location-pin"></span>
                                </div>
                                <div class="contact__details">
                                    <p>Địa chỉ : <br> 239, Minh Khai, Bắc Từ Liêm, Hà Nội.</p>
                                </div>
                            </div>
                            <!-- End Single Adress -->
                        </div>
                        <div class="contact__address__inner">
                            <!-- Start Single Adress -->
                            <div class="single__contact__address">
                                <div class="contact__icon">
                                    <span class="ti-mobile"></span>
                                </div>
                                <div class="contact__details">
                                    <p> Điện thoại : <br><a href="#">+84 869 68 3979 </a></p>
                                </div>
                            </div>
                        </div>
                        <div class="contact__address__inner">
                            <!-- End Single Adress -->
                            <!-- Start Single Adress -->
                            <div class="single__contact__address">
                                <div class="contact__icon">
                                    <span class="ti-email"></span>
                                </div>
                                <div class="contact__details">
                                    <p> Mail :<br><a href="#">info@sshop.vn</a></p>
                                </div>
                            </div>
                            <!-- End Single Adress -->
                        </div>
                    </div>
                    
                    <div class="form-output">
                        <p class="form-messege"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12 smt-30 xmt-30">
                <div class="map-contacts">
                    <div id="googleMap">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m19!1m8!1m3!1d5442.831891762777!2d105.74238015325984!3d21.045879340600923!3m2!1i1024!2i768!4f13.1!4m8!3e3!4m0!4m5!1s0x3134557ac097c167%3A0x87cc164761478e95!2zTWl0c3ViaXNoaSBIYW5vaUF1dG8sIMSQLiBD4bqndSBEaeG7hW4sIFBow7pjIERp4buFbiwgVOG7qyBMacOqbSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!3m2!1d21.0478077!2d105.744343!5e0!3m2!1svi!2s!4v1640963998742!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

