
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}
<div class="htc__login__register bg__white ptb--130" style="background: rgba(0, 0, 0, 0) url('/wwwroot/img/bg/1.jpg') no-repeat scroll center center / cover ;">
    <div class="container">
        <h2>Index</h2>
        <h2>Index</h2>
        <h2>Index</h2>
        <h2>Index</h2>
        <h2>Index</h2>
        <h2>Index</h2>
        <h2>Index</h2>
        <h2>Index</h2>
        <h2>Index</h2>
        <h2>Index</h2>
        <h2>Index</h2>

        <h2>Index</h2>
        <h2>Index</h2>
        <h2>Index</h2>
        <h2>Index</h2>
        <h2>Index</h2>
    </div>
</div>